{% extends "layout.html" %}

{% block content %}

<h1 style=" color:white">{{ message }}</h1>

<style>
    body {
        background-image: url('https://images8.alphacoders.com/358/thumb-1920-358629.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<h4 style=" color: white" class="lead">My pictures album is about video games that I love to play with my friends every day after school. The album show several games, including Brawlhalla, Borderlands 2, Middle-earth: Shadow of Mordor and more...</h4>
<h4 style=" color: white" class="lead">The album explains each game individually, and all of this games you can find in the website Steam (link in the Home page) exepct Super Smash Bros that requires the console Nintendo Switch as written in the description. Most of this games cost money but they are very worth buying. </h4>

<h1 style="color: white">Information about the project</h1>
<h4 style="color: white" class="lead">The project is within the framework of my school Tichonet. The project integrates two main fields of knowledge:</h4>
<h4 style="color: white" class="lead">- Web Environment Programming</h4>
<h4 style="color: white" class="lead">- Data Science</h4>
<h4 style="color: white" class="lead">In the frame of the project I found databases in the Internet and I used those databases to enrich my project and to come for valuable insights and conclusions.</h4>
<h4 style="color: white" class="lead">The project will be based on the next Technological components: (you may press on the word for more information)</h4>
<a style="color: white" class="lead" href="https://www.python.org/">Python, </a>
<a style="color: white" class="lead" href="https://pandas.pydata.org/">Pandas, </a>
<a style="color: white" class="lead" href="https://www.fullstackpython.com/flask.html">Flask</a>

<h1 style=" color: white">Information about me</h1>
<h4 style=" color: white" class="lead">My name is Nadav Fryd. I am 15 years old and I love to play a lot of video games. I hope that my photo album and information will help you know new games.</h4>
<h4 style=" color: white" class="lead">In my school I'm studying a profession called computer science. In that profession was giving a task to creat a project using several Technological components. This project is my final product and I am very happy to share it with you.</h4>

{% endblock %}
