{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<style>
    body {
        background-image: url('https://www.ubalt.edu/merrick/uploads/660x450-mobile-homepage/660x450-Infographic%20Icons_Data%20Analytics.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for message in messages %}
<h3>{{ message[1] }}</h3>
<br />
    {% endfor %}
{% endif %}
{% endwith %}

<br />
<br />

<h3>you can type on the bar the country / year you want for quicker search</h3>

<iframe width="420" height="315" style="position:absolute; left:850px;"
        src="https://www.youtube.com/embed/BbF4BlW6lj4">
</iframe>

<br />

<form method=post>
    {{ form.csrf }}
    {{ form.csrf_token }}
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                {% if form.name.errors %}
                <ul class="text-danger">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.name2.label }}
            </td>
            <td>
                {{ form.name2 }}
            </td>
            <td>
                {% if form.name2.errors %}
                <ul class="text-danger">{% for error in form.name2.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.startYear.label }}
            </td>
            <td>
                {{ form.startYear }}
            </td>
            <td>
                {% if form.startYear.errors %}
                <ul class="text-danger">{% for error in form.startYear.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.endYear.label }}
            </td>
            <td>
                {{ form.endYear }}
            </td>
            <td>
                {% if form.endYear.errors %}
                <ul class="text-danger">{% for error in form.endYear.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="input submit">
                    <input type="submit" value="Submit">
                </div>
            <td>
            <td></td>
        </tr>
    </table>
</form>
    
<div>
    <img src="{{chart}}" />
    <br />
    {{table1 | safe}}
    {{table2 | safe}}
</div>


    {% endblock %}
